.menu {
  .menu__content {
    padding: 50px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        color: black;
        font-size: 25px;
        font-weight: 500;
        font-family: "Roboto";
        cursor: pointer;

        display: flex;
        align-items: center;
        gap: 5px;

        a {
          color: black;
        }
      }
    }
  }
}
