.carousel {
  .carousel__content {
    margin: 20px 0;
    height: 170px;

    .ff {
      border-radius: 10px;

      img {
        width: 100%;
        height: 150px;
        border-radius: 10px;
      }
    }
  }
}
